.DS_Store

# Cumpa
Cumpa/venv
Cumpa/__pycache__
Cumpa/.env
Cumpa/conversation_history.db
Cumpa/text.wav
Cumpa/credentials.json

# Server
server/venv_server
server/__pycache__

# Web (Blockly)
web/authoring-tool/.DS_Store