__pycache__/
*.pyc
*.pyo
.DS_Store

# Cumpa
Cumpa/venv
Cumpa/.env
Cumpa/conversation_history.db
Cumpa/text.wav
Cumpa/credentials.json

# Server
server/venv_server

# Web (Blockly)
web/authoring-tool/.DS_Store